.products-container {
    padding: 20px;
}

.options {
    margin-bottom: 20px;
    text-align: right;
}

select {
    padding: 5px;
    font-size: 14px;
    margin-left: 10px;
}

.products-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr); /* Default 4 products per row */
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    height: 670px;
}

.product-card:hover {
    transform: scale(1.05);
    background-color: #f1f1f1;
}

.product-image {
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.product-card:hover .product-image {
    filter: brightness(0.8);  /* Slight grey effect on hover */
}

.product-info {
    padding: 10px;
    text-align: center;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
}

.product-brand,
.product-price {
    font-size: 16px;
    color: #555;
}

.product-actions {
    position: absolute;
    bottom: 3px; /* Adjust for the desired vertical position */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.cart-button,
.wishlist-button {
    background: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.cart-button:hover,
.wishlist-button:hover {
    color: #f57c00; /* Hover color for the icons */
}